.parent-div{
    display : grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 200px 200px;
    padding: 10px;
    background-image: linear-gradient(to left, rgb(149, 147, 144),rgb(165, 167, 162));
}
.child-div{
    border: 1px solid wheat;
    font-size: 30px; 
    padding : 30px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(108, 98, 98), rgb(9, 51, 61));
}

img {
    width : 50%;
    height : 50%;
    object-fit: cover;
    border-radius: 50%;
}

#profile-div{
    background-image: linear-gradient(to right, rgb(108, 98, 98), rgb(36, 34, 34));
}
.image-hover{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.image-hover:hover{
    transform: rotate(360deg);
    transition: all 0.900s ease-in-out;
}

#routing-div {
    overflow: auto;
    padding: 0%;
}

.li-mammals {
    font-size: medium;

}

.ul-container {
    display: grid;
    grid-template-columns: auto auto auto;
}